
<head>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 30px;
        }

        .link-container {
            display: inline-block;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        a {
            display: block;
            font-size: 1.2rem;
            margin: 15px 0;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
        }

    </style>
</head>
<body>

    <h1>Bible Options</h1>

    <div class="link-container">
        <a href="cpdv/index.html">Read the Catholic Bible</a>
        <a href="cpdv-tts/index.html">Listen to the Catholic Bible</a>
        <a href="kjv/index.html">Read the KJV (King James Version) Bible</a>
        <a href="kjv-tts/index.html">Listen to the KJV (King James Version) Bible</a>
        <a href="asv/index.html">Read the ASV (American Standard Version) Bible</a>
        <a href="asv-tts/index.html">Listen to the ASV (American Standard Version) Bible</a>
    </div>

</body>

